#pane2 {
	-fx-background-color: #ffffff;
	-fx-background-radius: 15.0px;
	-fx-border-radius: 15.0px;
}

#background {
	-fx-background-image: url("backgroundImage.jpeg");
	-fx-opacity: .50;
}

#pane {
	-fx-background-color: #ffffff;
	-fx-background-radius: 15.0px;
	-fx-border-radius: 15.0px;
}

#pane:hover {
	-fx-background-color: #cccccc;

}
